@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*{
  margin: 0px;
  padding: 0px;
}
.main {
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(43, 32, 228, 1) 0%,
    rgba(30, 197, 252, 1) 47%,
    rgba(173, 170, 186, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease-in infinite;
  min-height: 100vh;
  max-height: 100%;
}
